@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:wght@700&display=swap");

/* font-family: "Poppins", sans-serif; heading */

/* font-family: "Open Sans", sans-serif; body */

:root {
  --pink: hsl(322, 100%, 66%);
  --light-pink: hsl(321, 100%, 78%);
  --light-red: hsl(0, 100%, 63%);
  --dark-cyan: hsl(192, 100%, 9%);
  --pale-blue: hsl(207, 100%, 98%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  color: var(--dark-cyan);
}

header {
  padding: 40px;
  height: 100vh;
}

header nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 190px;
}

header nav .img-nav {
}

header nav .img-nav img {
  display: block;
  width: 75%;
}

header nav .nav-cta {
  border: 2px solid var(--light-pink);
  color: var(--light-pink);
  padding: 6px 24px;
  border-radius: 23px;
  background-color: white;
}

header .header-content {
  text-align: center;
}

header .header-content h1 {
  font-weight: 700;
  font-size: 37px;
  margin-bottom: 16px;
  font-family: "Poppins", sans-serif;
}

header .header-content p {
  margin: 0 auto;
  width: 35%;
  margin-bottom: 35px;
}

header .header-content button {
  border: none;
  color: var(--pale-blue);
  background-color: var(--pink);
  padding: 20px 80px;
  font-weight: 700;
  border-radius: 33px;
}

/* header end */

.community-content {
}

.community-content .mockups-img {
  text-align: center;
  margin-bottom: 70px;
}

.community-content .mockups-img img {
  width: 52%;
}

.community-content .community-includes {
  display: flex;
  justify-content: center;
  gap: 280px;
}

.community-content .community-includes .communities-icon {
}

.community-content .community-includes .communities-content {
}

.community-content .community-includes .communities-content p:first-child {
  font-size: 62px;
  font-weight: 700;
}

.community-content .community-includes .communities-content p:last-child {
  text-align: center;
  font-weight: 600;
  opacity: 0.5;
}

.community-content .community-includes .communities-formed {
}

.community-content .community-includes .communities-formed img {
  width: 15%;
}

.community-content .community-includes .messages-sent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.community-content .community-includes .messages-sent img {
  width: 12%;
}

/* community-content end */

.community-builders {
  border: 1px solid black;
}
